<!-- TEMPLATES -->
<!-- ARTIST -->
<script type="text/template" id="artist-single-template">
    <a href="#home" class="go-back-btn glyphicon glyphicon-arrow-left"></a>
    <span class="artist-name-title"><span class="glyphicon glyphicon-user"></span> <%= name %></span>
</script>

<script type="text/template" id="artist-layout">
    <div id="artist-details-region"></div>
    <div id="artist-song-region"></div>
    <div id="create-artist-song-region"></div>
</script>
<script type="text/template" id="artist-song-template">
    <div class="card-top">
        <div class="card-delete">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="artist-song-likes">
            <span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;<span class="badge"><%= likes %></span>
        </div>

        <span class="glyphicon glyphicon-music rounded-white-border"></span>
    </div>
    <div class="song-name" contenteditable="true">
        <%= name %>
    </div>
    <div class="card-actions">
        <div class="listen-btn btn btn-primary" data-toggle="modal" data-target=".l-<%= id %>">
            Listen
        </div>
    </div>
    <!-- listen modal -->
    <div class="modal-video modal fade l-<%= id %>" tabindex="-1" role="dialog" aria-labelledby="<%= name %>">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel"><%= name %></h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="create-artist-song-template">
    <div class="card-top">
        <span class="glyphicon glyphicon-plus rounded-white-border"></span>
    </div>
    <div class="artist-name">
        <div class="form-group">
            <label for="songNameInput">Song name</label>
            <input type="text" class="form-control" id="songNameInput" placeholder="...">
            <input type="text" class="form-control" id="songUrl" placeholder="Youtube url">
        </div>
    </div>

</script>
<!-- HOME -->
<script type="text/template" id="home-layout">
    <div id="artists-region"></div>
    <div id="create-artist-region"></div>
</script>
<script type="text/template" id="create-artist-template">
    <div class="card-top">
        <span class="glyphicon glyphicon-plus rounded-white-border"></span>
    </div>
    <div class="artist-name">
        <div class="form-group">
            <label for="artistNameInput">Artist name</label>
            <input type="text" class="form-control" id="artistNameInput" placeholder="...">
        </div>
    </div>
</script>
<script type="text/template" id="artist-template">
    <div class="card-top">
        <div class="card-delete">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <span class="glyphicon glyphicon-user rounded-white-border"></span>
    </div>
    <div class="artist-name" contenteditable="true"><%= name %></div>
    <div class="card-actions">
        <a href="#artist/<%= id %>" class="btn btn-primary">
            View artist
        </a>
    </div>
</script>